# Исключить все файлы с расширением .sln
*.sln

# Исключить все файлы с расширением .vcxproj
*.vcxproj

# Исключить все файлы с расширением .filters
*.filters

# Исключить все файлы с расширением .user
*.user

# Исключить файл
desktop.ini

# Игнорировать внутренние папки и все содержимое
.vs/
x64/

# отслеживать файлы типа .cpp
!*.cpp